<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image005.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image007.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image009.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image011.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image013.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image015.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image017.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image019.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image021.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image023.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image025.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image027.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image029.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image031.png')}}></span></p>
<p class=MsoNormal style='margin-left:21.0pt;line-height:150%;text-autospace:
none'>                        <span lang=EN-US><img width=553 height=349
                        src={{static_url('images/mcisnetap3_MCIS0001.xlsx.files/image033.png')}}></span></p>
